# PridemodShuffle.config

USERNAME = 
PWSECUREFILE = 
KOFAXSERVER = 
SENDTOPATH = 
SENDFROM = 
SHUFFLELOG = 
PAUSEHRTIME = 1

# Note: Password needs to be encrypted as the user whom will be running the scheduled task to initiate the script.
# Command to generate the encrypted password:

# Read-Host -AsSecureString | ConvertFrom-SecureString | Out-File D:\Scripts\pridemodsecure.txt